@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

body {
  @apply bg-night text-white;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

main {
  min-height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
}
